/* variables */

/* mixin */

/*
@mixin mobile {
    @media (max-width: 360px) {
        @content;
    }
}
*/

.desktop {
  height: 2607px;
  min-width: 1200px;
}

@media (max-width: 1200px) {
  .desktop {
    display: none;
  }
}

.desktop div {
  background-repeat: no-repeat;
  background-position: center top;
}

.desktop div:first-child {
  height: 650px;
  background-image: url("/images/desktop_1.png?20210510");
  background-size: 1920px;
}

.desktop div:nth-child(2) {
  height: 1353px;
  background-image: url("/images/desktop_2.png?20210510");
  background-size: 1920px;
}

.desktop div:last-child {
  height: 604px;
  background-image: url("/images/desktop_3.png?20210510");
  background-size: 1920px;
}

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
}

.mobile img {
  width: 100%;
  margin: 0 auto;
  max-width: 720px;
}

